body{
    margin: 0;
}
section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/*------------------------Header Start------------------------*/
header{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: flex-end;
    right: 20px;
}
header ul{
    display: flex;
    gap: 1.5em;
    justify-content: center;
    align-content: center;
}
header ul li{
    list-style: none;
}
header ul li:first-child, li:nth-child(2){
    position: relative;
    top: 5px;
}
header ul li:nth-child(3){
    position: relative;
    top: 4px;
}
header ul li:nth-child(5){
    position: relative;
}
header ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
header ul li button{
    background-color: #4584ef;
    color: antiquewhite;
    border: none;
    outline: none;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
}

/*----------------Main Start------------------------*/
main{
    bottom: 50px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-content: center;
}
main .google{
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-content: center;
    top: 100px;
}
main .searchbox{
    display: flex;
    position: absolute;
    /* top: 370px; */
    justify-self: center;
    align-self: center;
}
main .searchbox input{
    position: relative;
    width: 550px;
    border-radius: 30px;
    padding: 15px;
    top: 30px;
    padding-left: 50px;
    padding-right: 120px;
    font-size: 16px;
    border: 1px solid;
}
main .share{
    position: absolute;
    width: 24px;
    top: -50px;
    right: 8%;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0.521);
    cursor: pointer;
}
main .share:hover{
    background-color: lightgrey;
}
main .search{
    position: absolute;
    display: flex;
    height: fit-content;
    align-self: center;
    top: 45px;
    left: 20px;
}
main .mic{
    position: absolute;
    top: 40px;
    right: 12%;
    cursor: pointer;
}
main .lens{
    position: absolute;
    top: 42px;
    right: 5%;
    cursor: pointer;
}
.button1{
    display: flex;
    position: absolute;
    top: 555px;
    left: 42%;
}
.button1 button{
    padding: 8px 15px;
    border: 1.5px solid;
    border-radius: 5px;
    font-weight: bold;
}
.button1 button:hover{
    background-color: lightgrey;
    border: 1px solid grey;
}
.button2{
    position: absolute;
    top: 555px;
    right: 42%;
}
.button2 button{
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid;
    font-weight: bold;
}
.button2 button:hover{
    background-color: lightgrey;
    border: 1px solid grey;
}
.button3{
    position: absolute;
    align-self: center;
    top: 620px;
    font-size: 18px;
}
.button3 a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(13, 117, 221);
}
.button3 a:hover{
    text-decoration: underline;
}

/*--------------Footer Start--------------------*/

footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: rgba(164, 218, 236, 0.623);
    text-transform: capitalize;
    font-size: 14px;
}
footer ul{
    width: 100%;
}
.footer1{
    display: flex;
    position: relative;
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    gap: 1.5em;
}
.footer1 p{
    display: inline;
    padding-left: 38px;
    font-weight: bold;
}
.footer2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    font-weight: bold;
}
.left{
    position: absolute;
    display: flex;
    width: fit-content;
    bottom: 20px;
    gap: 2em;
}
.left a, .right a{
    text-decoration: none;
    color: black;
}
.left a:hover, .right a:hover{
    text-decoration: underline;
}
.right{
    position: absolute;
    display: flex;
    width: fit-content;
    bottom: 20px;
    right: 40px;
    gap: 2em;
}
.footer2 ul li{
    list-style: none;
}
.footer2 ul li:nth-child(2){
    top: -0.5px;
}