body{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
}

/* ========= Header Section Start ========= */
.header-area{
    
}
.header{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.header__navbar{
    width: 30%;
    display: flex;
    justify-content: end;
    justify-content: space-around;
    align-items: center;
}
/* ========= Header Section End ========= */


/* ========= Main Section Start ========= */
.main{
    
}
/* ========= Main Section End ========= */


/* ========= Footer Section Start ========= */
.footer-area{
    width: 100%;
    height: 200px;
    /* position: relative; */
    display: flex;
    /* align-content: end; */
    
}
.footers{
    display: flex;
    flex-direction: column;
}
/* ========= Footer Section End ========= */