body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.header-area{
    height: 50px;
    align-content: center;
    flex-grow: 0.2;
}
.main-area{
    flex-grow: 2.6;
}
.footer-area{
    flex-grow: 0.2;
}
.header{
    display: flex;
    justify-content: end;
    align-content: center;
}
.header__navbar{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
}
.main__google{
    width: fit-content;
}
.footers{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 700;
}
.footers__footer1{
    display: flex;
    justify-content: center;
}
.footers__footer1-country{
    display: flex;
    width: 97.5%;
}
.footers__footer2{
    /* flex-grow: 1; */
    height: 100%;
    display: flex;
}
.footers__footer2-left{
    display: flex;
    width: 50%;
    justify-content: center;
}
.footers__footer2-left-item{
    display: flex;
    height: 100%;
    width: 95%;
    display: flex;
    gap: 2em;
    align-items: center;
}
.footers__footer2-right{
    display: flex;    
    width: 50%;
    justify-content: center;
}
.footers__footer2-right-item{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}